html {
  background-color: white;
}

#modal-background {
  position: absolute;
  flex-direction: column;
  top: -10vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 60, 77, 0.8);
  transition: 0.5s linear;
}

#modal-container {
  padding-top: 30px;
  font-size: 10px;
  border-radius: 5px;
  width: 60rem;
  height: 80rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  text-align: center;
}

.modal-group {
  padding: 10px;
}

.modal-group > input {
  font-size: 10px;
}

.modal-btn {
  position: absolute;
  top: 1px;
  left: 160px;
  color: rgb(129, 163, 207);
}

.btn-login {
  font-size: 10px;
  width: 55%;
  border: 0px;
  border-radius: 2px;
  padding: 5px;
  background: rgb(129, 163, 207);
}

#modal-section {
  display: block;
}

.modal-group {
  margin-top: 15px;
}

div.modal-group > span {
  position: absolute;
  font-size: 5%;
}

input {
  border: none;
  border-bottom: 1px solid rgb(111, 111, 114);
}
