#nav {
  position: fixed;
  top: 0;
  height: 3.2rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 2rem;
  background-color: rgb(2, 2, 71);
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav .title {
  font-size: 1.3rem;
  color: white;
  letter-spacing: 0.1rem;
  font-weight: 50;
  text-decoration: none;
  margin-left: 1.5rem;
}

.title-link {
  text-decoration: none;
}

.product-search {
  width: 14rem;
  padding: 0.3rem;
  margin: 0.5rem 0.1rem;
}

#nav button {
  font-weight: 500;
  font-size: 1rem;
  margin: 0.5rem;
}

button {
  background: transparent;
  font-size: 0.8rem;
  color: white;
  border: 0;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.8rem;
}
