#modal-container {
  padding-top: 30px;
  font-size: 20px;
  border-radius: 5px;
  width: 15rem;
  height: 20rem;
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  left: 35%;
  top: 20%;
  text-align: center;
}

#modal-background {
  position: absolute;
  flex-direction: column;
  top: -10vh;
  left: -15vw;
  width: 140vw;
  height: 140vh;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 60, 77, 0.8);
  transition: 0.5s linear;
}

.modal-group {
  padding: 10px;
}

.modal-group > input {
  font-size: 10px;
}

.modal-btn {
  position: absolute;
  top: 1px;
  left: 180px;
  color: rgb(129, 163, 207);
}

.btn-signup {
  margin: 15px;
  font-size: 15px;
  width: 65%;
  border: 0px;
  border-radius: 2px;
  padding: 5px;
  color: white;
  background: rgb(129, 163, 207);
}

#modal-section {
  display: block;
}

div.modal-group > span {
  position: absolute;
  font-size: 5%;
}

input {
  border: none;
  border-bottom: 1px solid blue;
}
